// ================================
// FOOTER
// ================================

footer {
    background: #fff;
    padding: 1.5rem;
    box-shadow: $sombra;
    text-align: center;
    margin-top: 3rem;
}


