// ================================
// HERO PRINCIPAL
// ================================

.hero {
    height: 420px;
    background-size: cover;
    background-position: center;
    border-radius: $radio;
    @include flex-center;

    .hero-content {
        background: rgba(0, 0, 0, .45);
        padding: 2rem 3rem;
        border-radius: $radio;
        color: #fff;
        text-align: center;

        h2 { font-size: 2.5rem; }
    }
}


