// ================================
// VARIABLES GLOBALES
// ================================

$color-primario: #2563eb;   // azul tailwind 600
$color-secundario: #1e40af; // azul tailwind 900
$color-texto: #333;
$color-fondo: #f4f6f8;

$radio: 12px;
$sombra: 0 4px 12px rgba(0, 0, 0, .12);

$fuente: 'Inter', sans-serif;
