// ================================
// Archivo PRINCIPAL
// ================================

// VARIABLES
@import 'variables';

// MIXINS
@import 'mixins';

// ESTILOS GLOBALES
@import 'global';

// COMPONENTES
@import 'navbar';
@import 'footer';
@import 'cards';
@import 'hero';
@import 'buttons';
